<li class="nav-item dropdown dropdown-fluid">
  <a href="{{ block.settings.link }}" class="nav-link dropdown-toggle" id="navbar-dropdown-{{forloop.index}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ block.settings.label }}</a>
  <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-{{forloop.index}}">
    <li class="container d-sm-flex py-3">
      <div class="col-3">
        <p class="h5">{{block.settings.heading_1}}</p>
        <ul>
          {% for link in linklists[block.settings.link_list_1].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-3">
        <p class="h5">{{block.settings.heading_2}}</p>
        <ul>
          {% for link in linklists[block.settings.link_list_2].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-3">
        <p class="h5">{{block.settings.heading_3}}</p>
        <ul>
          {% for link in linklists[block.settings.link_list_3].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-3">
        <style>
          .tout-size-{{ block.id }} {
            padding-bottom: {{ block.settings.tout_size }}%;
          }
        </style>
        <div class="tout tout-size-{{ block.id }} lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.tout_img %}"> 
          <div class="tout-inner d-flex flex-column justify-content-center align-items-center">
            <p class="h4">{{ block.settings.tout_title }}</p>
            <p>{{ block.settings.tout_copy }}</p>
          </div>                    
        </div>
      </div>
    </li>
  </ul>
</li>