<section class="container">
  <div class="form-column">
    <div class="alert alert-success d-none" id="ResetSuccess">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm">

      {% form 'customer_login' %}
        <h1>{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}
        <div class="form-group">
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                name="customer[email]"
                id="CustomerEmail"
                class="{% if form.errors contains 'email' %}input-error{% endif %} form-control"
                placeholder="{{ 'customer.login.email' | t }}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                autofocus>
        </div>
        <div class="form-group">
          {% if form.password_needed %}
            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                  name="customer[password]"
                  id="CustomerPassword"
                  class="{% if form.errors contains 'password' %}input-error{% endif %} form-control"
                  placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}
        </div>

        <input type="submit" class="btn btn-primary" value="{{ 'customer.login.sign_in' | t }}">

        <a href="/" class="btn btn-link">{{ 'customer.login.cancel' | t }}</a>

        <a href="/account/register" class="btn btn-link">
          {{ 'layout.customer.create_account' | t }}
        </a>

        {% if form.password_needed %}
          <a href="#recover" id="RecoverPassword" class="btn btn-link">{{ 'customer.login.forgot_password' | t }}</a>
        {% endif %}
      {% endform %}

    </div>

    <div id="RecoverPasswordForm" class="d-none">
      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="d-none reset-password-success"></span>
        {% endif %}

        <label for="RecoverEmail" class="label-hidden">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
              name="email"
              id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">

        <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">

        <button type="btn btn-primary" id="HideRecoverPasswordLink">
          {{ 'customer.recover_password.cancel' | t }}
        </button>
      {% endform %}

    </div>

    {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn btn-secondary" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}
  </div>
</section>