{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<header role="banner" data-section-id="{{ section.id }}" data-section-type="header" class="nav">
  <div class="container justify-content-end d-flex flex-wrap flex-sm-nowrap align-items-center">
    {%- if section.settings.announcement_bar_enabled -%}
      <div class="nav-item navbar-text mr-auto text-center text-sm-left">
        {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
          {%- if section.settings.announcement_bar_link != blank -%}
            <a href="{{ section.settings.announcement_bar_link }}">
              {{ section.settings.announcement_bar_text | escape }}
            </a>
          {%- else -%}
            <p>{{ section.settings.announcement_bar_text | escape }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}

    {% if shop.customer_accounts_enabled %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ 'layout.customer.account' | t }}</a>
        <ul class="dropdown-menu">
          {% if customer %}
            <li class="dropdown-item">
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li class="dropdown-item">
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li class="dropdown-item">
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li class="dropdown-item">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

    <a href="/cart">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
    </a>
  </div>
</header>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      }
    ]
  }
{% endschema %}

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
