
<div class="hero 
  {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} 
    hero-overlay jumbotron jumbotron-fluid
  {% endif %}">
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% else %}
    {% include 'responsive-image' with 
      image: section.settings.image,
      max_width: 2048, 
      max_height: 1920 
    %}
  {% endif %}
  <div class="hero-inner">
    <div class="page-width text-center">
      {% if section.settings.title != blank %}
        <h2 class="h1 display{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="lead">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn-outline-light">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Banner",
    "class": "hero-banner-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_portrait",
        "label": "Image Portrait"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Hero Banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}
