<style>
  {% if section.settings.logo != blank %}
    .site-header-logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>

<nav role="navigation" class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    {% if template.name == 'index' %}
      <h1 itemscope itemtype="http://schema.org/Organization" class="m-0 navbar-brand">
    {% else %}
      <div class="h1 m-0 navbar-brand" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <a href="/" itemprop="url" class="site-logo {% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                  itemprop="logo">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %} 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-center">
        {% for link in linklists[section.settings.main_linklist].links %}
          {% if link.links != blank %}
            <li class="nav-item dropdown active">
              <a href="{{ link.url }}" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title | escape }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for childlink in link.links %}
                  {% if childlink.links != blank %}
                    <li class="dropdown-item">
                      <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      <ul>
                        {% for grandchildlink in childlink.links %}
                          <li>
                            <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a href="{{ childlink.url }}" class="nav-link active">{{ childlink.title | escape }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{{ link.url }}" class="nav-link">{{ link.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <form action="/search" method="get" role="search" class="form-inline flex-nowrap my-2 my-lg-0">
        <label for="Search" class="sr-only">
          {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
                name="q"
                id="Search"
                class="form-control"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.placeholder' | t }}"
                aria-label="Search">
        <button type="submit" class="btn btn-outline-primary">
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </div>
  </div>    
</nav>

{% schema %}
  {
    "name": "Navbar",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>